@media (max-width: 952px) {
    header img {
        padding-left: 35px;
        transition: .5s;
    }

    header nav ul li a {
        font-size: 1.6rem;
    }

}

@media (max-width: 858px) {
    
    header nav label {
        display: block;
        font-size: 3rem;
        margin-right: 35px;
        padding: 2px 10px;
        border-radius: 3px;
    }

    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fefefe;
        top: 60px;
        left: -100%;
        transition: all .5s;
    }

    header nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
        text-align: center;
    }

    header nav ul li:last-child {
        margin-right: 50px;
    }
    
    header nav ul li a {
        font-size: 2rem;
    }

    header nav ul li a:hover {
        color: #B0C4DE;
    }

    header nav input:checked ~ ul {
        left: 0;
    }

}

@media (max-width: 600px) {
    div.grid-container {
        height: 100%;
        flex-wrap: wrap;
    }

    div.image-perfil,
    div.info {
        flex: 1 1 100%;
    }

    div.image-perfil img {
        width: 250px;
        height: auto;
    }

    div.info {
        order: 1;
    }

    div.info img {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 360px) {
    div.image-perfil img {
        width: 230px;
        height: auto;
    }

    div.info img {
        width: 200px;
        height: auto;
    }
}