@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
    color: #1C1C1C;
}

a {
    color: #1C1C1C;
    transition: .5s;
    font-size: 20px;
    font-weight: 500;
}

a:hover {
    color: #C0C0C0;
}

nav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 34px;
    max-width: 1152px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #4F4F4F;
    transition: all 0.3s ease-in-out;
}

section {
    width: 100%;
    padding: 0 20px;
}

.container {
    width: 860px;
    margin: 0 auto;
}

.main-container {
    /* height: 70vh; */
    margin: 160px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-content,
.image-container {
    flex: 1 1 0;
    height: 100%;
}

.info-content {
    margin-bottom: 60px;
}

.info-content h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.info-content h2 {
    margin-bottom: 40px;
}

.info-content p {
    width: 497px;
    text-align: justify;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    justify-content: end;
}

.image-container img {
    width: 243px;
    height: 243px;
}

.info-content a {
    margin-top: 60px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 9px;
    color: #FFF;
    background-color: #FF7F50;
}

.info-content a:hover {
    border: 1px solid #FF7F50;
    background-color: #FFF;
    color: #FF7F50;
    font-weight: 500;
}

.tittle-skills {
    position: relative;
    border-top: 1px solid #CCC;
    margin-top: 40px;
}

.tittle-skills h2 {
    position: absolute;
    top: -19px;
    left: 325px;
    padding: 0 20px;
    background-color: #FFF;
    color: #808080;
}

.image-skills {
    text-align: center;
    padding: 80px 0;
}

.image-skills img {
    width: 60px;
    margin-left: 10px;
}

.my-project {
    width: 100%;
    padding: 80px 0;
    background-color: #3b9cc4;
}

.projects h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
}

.grid-project {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-project div {
    background-color: #FFF;
    width: 49%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}

.grid-project div img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.grid-project div h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 14px 0 9px 23px;
}

.grid-project div p {
    font-size: 1rem;
    text-align: justify;
    margin: 0 23px;
    padding-bottom: 16px;
}