* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    background-color: #fefefe;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.342); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 40px;
    padding-left: 100px;
}

header label {
    font-size: 2.5rem;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:last-child {
    margin-right: 90px;
}

header nav ul li a {
    font-size: 1.6rem;
    padding: 10px 10px;
    color: #696969;
    transition: .5s;
}

header nav ul li a:hover {
    color: #D3D3D3;
}

header nav #check {
    display: none;
}

header nav label {
    float: right;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

section.home {
    width: 100%;/
    background-color: burlywood;
}

div.container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 10px;
    /* background-color: brown; */
}

div.grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.info, div.image-perfil {
    flex: 1 1 0;
    height: 100%;
}

div.image-perfil img {
    width: 300px;
    height: auto;
}

div.info {
    text-align: center;
}

div.info h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #A9A9A9;
    font-style: italic;
}

div.image-perfil {
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

div.social-media {
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
}

div.social-media a {
    font-size: 2rem;
    color: #D3D3D3;
    transition: .5s;
    padding: 0 10px;
}

div.social-media a:hover {
    color: #A9A9A9;
}

section.sobre {
    width: 100%;
    background-color: #f1f1f1;
}

section.sobre h2 {
    font-size: 3rem;
    padding-bottom: 20px;
}

section.sobre p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 30px;
}
