@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #324B77;
    --primary-text-color: #1C1C1C;
    --secondary-text-color: #FFFFFF;
    --secondary-color: #A9A9A9;
    --tertiary-color: #FF7F50;
    --secondary-bg-color: #DCDCDC;
    --tertiary-bg-color: #696969;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    color: var(--primary-text-color);
}

header {
    width: 100%;
    height: 60px;
    margin-bottom: 120px;
}

img {
    width: 100%;
}

.container {
    width: 960px;
    margin: auto;
}

#navbar {
    width: 70%;
    border-bottom: 1px solid var(--secondary-bg-color);
}

#navbar a {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
    color: var(--tertiary-bg-color);
}

#navbar a:hover {
    color: var(--secondary-color);
}

#menu {
    height: 100%;
    line-height: 60px;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 100px;
}

.about-info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-info p {
    font-size: 1rem;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}

#about-button a {
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    transition: 0.4s;
    color: var(--secondary-text-color);
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
}

#about-button a:hover {
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    background-color: var(--secondary-text-color);
}

.about-image {
    text-align: right;
}

.about-image img {
    width: 300px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h3 {
    font-size: 1.3rem;
    z-index: 1;
    background-color: var(--secondary-text-color);
    color: var(--secondary-color);
    padding: 0 1rem;
}

.line-bottom {
    width: 100%;
    position: absolute;
    border-bottom: 1px solid var(--secondary-bg-color);
}

.st-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.st-content img {
    width: 30px;
    height: auto;
    padding: 20px 0;
    opacity: 0.7;
}

.st-content img:hover {
    opacity: 100%;
}

#projects {
    width: 100%;
    background-color: var(--main-color);
}

.project-content,
.contact-form {
    padding: 80px 0;
}

.project-content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 400px;
    border-radius: 10px;
    background-color: var(--secondary-text-color);
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card-info {
    padding: 20px 40px;
}

.card-info h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 15px;
}

.card-info p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
}

.card-info h5 {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--tertiary-bg-color);
}

.card-info p:nth-child(4) {
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.card-btn {
    text-align: center;
}

.card-btn a {
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    color: var(--secondary-text-color);
    background-color: var(--tertiary-bg-color);
    border: 1px solid var(--tertiary-bg-color);
    transition: 0.4s;
}

.card-btn a:hover {
    color: var(--tertiary-bg-color);
    background-color: var(--secondary-text-color);
}

#contact {
    width: 100%;
}

.contact-title {
    margin-bottom: 40px;
}

.contact-form h2 {
    font-size: 2rem;
    z-index: 1;
    color: var(--tertiary-bg-color);
    background-color: var(--secondary-text-color);
    padding: 0 1rem;
}

.initial-fields {
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.initial-fields label, input {
    width: 100%;
    display: block;
}

.initial-fields label,
.complementary-fields label {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 3px;
}

.initial-fields input,
.complementary-fields input,
.complementary-fields textarea {
    padding: 0.5rem;
    border: 1px solid var(--secondary-bg-color);
    outline: 0;
    border-radius: 5px;
    font-family: 'Poppins';
}

.initial-fields input::placeholder,
.complementary-fields input::placeholder,
.complementary-fields textarea::placeholder {
    color: var(--secondary-bg-color);
}

.name,
.tel {
    flex: 1 1 0;
}

.complementary-fields {
    width: 600px;
    margin: auto;
    padding: 1rem;
}

.complementary-fields input, textarea {
    width: 100%;
    display: block;
}

.complementary-fields input {
    margin-bottom: 30px;
}

.complementary-fields textarea {
    height: 120px;
    resize: none;
    margin-bottom: 30px;
}

.btn-submit {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: #FF7F50; */
}

.btn-submit input[type="submit"] {
    padding: 0.8rem;
    width: 150px;
    border-radius: 5px;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-text-color);
    font-weight: bold;
    border: 1px solid var(--tertiary-bg-color);
    transition: 0.4s;
}

.btn-submit input[type="submit"]:hover {
    color: var(--tertiary-bg-color);
    background-color: var(--secondary-text-color);
}

